:root {
  --azul_1: #0090E8;
  --azul_2: #69A7EE;
  --azul_3: #B0CCF6;
  --azul_4: #ECF2FD;
  --negro1: #000000;
  --negro: #2F2F2F;
  --negro2: #292929;
  --blanco: #FFFFFF;
}


body {
    background-color: var(--blanco);
    background-repeat: repeat;
    font-size: 62.5%; /* 1rem = 10px */
  }

.page {
    padding-top: 10rem;
    padding-bottom: 100vh;
    display: flex;
    justify-content: space-around;
  }

  #paymentBrick_container {
    display: none;
  }

  .pasarela {
    width: 40%;
  }

  #deliveryMethodContainer, #paymentMethodContainer {
    width: 100%;
    height: auto;
    background-color: var(--azul_4);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 1.2rem;
    font-size: 1.5rem;
  }

  #deliveryMethodContainer h2, #paymentMethodContainer h2 {
    font-size: 2rem;
    height: auto;
    width: 100%;
  }

  input[type="radio"] {
    width: 2rem;
    transform: scale(1.2);
    margin: 2rem;
}

  #deliveryMethodForm, #paymentMethodForm {
    font-size: 1.6rem;
  }

  #deliveryMethodForm label, #paymentMethodForm label {
    font-size: 1.2rem;
  }

  #checkoutForm button[type="button"], #paymentMethodContainer button[type="submit"] {
    width: auto;
    height: auto;
    background-color: #4caf50;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    cursor: pointer;
    margin: 2rem;
    }

  #checkoutForm button[type="button"]:hover, #paymentMethodContainer button[type="submit"]:hover {
      background-color: #45a049;
    }

  #checkoutForm input[type="text"], #checkoutForm input[type="number"], #paymentMethodContainer input[type="text"], #paymentMethodContainer input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .pasarela h2, .carrito h2 {
    font-size: 2rem;
    color: var(--azul_1);
    padding-left: 2rem;
  }

  #paymentMethodContainer h2 {
    padding-left: 0;
  }

.pago {
  width: 100%;
  border-radius: 1.2rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.carrito {
  width: 40%;
}

table {
  height: auto;
  width: 100%;
  border-radius: 1.2rem;
}

.tabla-carrito {
  margin-bottom: 1rem;
  color: var(--negro);
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
}
.tabla-carrito thead {
  font-size: 1.4rem;
  font-weight: bold;
}
.tabla-carrito tbody {
  font-size: 1.4rem;
}
.tabla-carrito th {
  border-bottom: 1px solid var(--negro);
  padding: 2rem;
  text-align: left;
}

.tabla-carrito tr td {
  padding: 2rem;
  border-top: 1px solid var(--negro);
}

.tabla-carrito td img {
  height: 6rem;
  width: 6rem;
}

.total_tabla {
  margin-left: 2rem;
}

#pago_procesado {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco);
  height: 100%;
  width: 100%;
  border-radius: 1.2rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

#pago_procesado p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--negro);
}

#pago_procesado p i {
  font-size: 50px;
}

#pago_procesado button {
  width: auto;
  height: auto;
  background-color: #4caf50;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  cursor: pointer;
  margin: 2rem;
}

.loader {
  display: none;
  position: relative;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {

  .page {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .pasarela {
    width: 90%;
  }

  .pago {
    margin-top: 2rem;
  }

  .loader {
    top: 100%;
  }

  .carrito {
    width: 90%;
  }

  .carrito h2, .pasarela h2 {
    font-size: 2rem;
    width: 90%;
  }

} 
