:root {
  --azul_1: #0090E8;
  --azul_2: #69A7EE;
  --azul_3: #B0CCF6;
  --azul_4: #ECF2FD;
  --negro1: #000000;
  --negro: #2F2F2F;
  --blanco: #FFFFFF;
}

body {
  background-color: var(--blanco);
  background-repeat: repeat;
  font-size: 62.5%;
}

p {
  font-size: 1.4rem;
}

table {
  width: 90%;
}

.tabla-carrito {
  margin-bottom: 2rem;
  color: var(--negro);
  border-collapse: collapse;
  background-color: #e8f0fe;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.tabla-carrito thead {
  font-size: 1.4rem;
  font-weight: bold;
}
.tabla-carrito tbody {
  font-size: 1.4rem;
}
.tabla-carrito td, .tabla-carrito th {
  border-bottom: 1px solid var(--azul_1);
  padding: 0.6rem;
  text-align: left;
}

.tabla-carrito td img {
  height: 6rem;
  width: 6rem;
}

.container {
  padding-top: 9rem;
}

.container h1 {
  color: var(--azul_1);
}

.panel-body {
  color: var(--negro);
  font-size: 1.4rem;
  background-color: #e8f0fe;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.panel-body p {
  font-size: 1.4rem;
}

.container {
  padding: 8rem 0.5rem 0rem 0.5rem;
}