:root {
  --azul_1: #0090E8;
  --azul_2: #69A7EE;
  --azul_3: #B0CCF6;
  --azul_4: #ECF2FD;
  --negro1: #000000;
  --negro: #2F2F2F;
  --blanco: #FFFFFF;
}

body {
  background-repeat: repeat;
  font-size: 62.5%; /* 1rem = 10px */
  background-color: var(--blanco);
}

#page {
  padding-top: 7.4rem;
}

.col-md-2 {
    background-color: var(--azul_2);
    color: var(--negro);
    padding-top: 1rem;
    padding-left: 2rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 1.5rem;
    height: 110rem;
    overflow: hidden;
    overflow-y: scroll;
}

#filter label {
  font-size: 1.4rem;
}

#filter input {
  width: 1.4rem;
  height: 1.4rem;
}

#filter form div {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.list-group-item {
  border: 0;
  padding: 1rem 1.5rem;
  background-color: transparent;
  font-size: 1.4rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.list-group-item:hover, #main-category:hover, #sub-category:hover {
  background-color: var(--azul_3);
  color: var(--blanco);
}

.list-group h4 {
  color: var(--negro);
  text-decoration: underline;
  font-weight: bold;
}

#main-category {
    color: var(--negro);
    font-weight: bold;
}

#sub-category {
    color: var(--negro);
    padding-left: 2.5rem;
}

#seccion-productos {
  height: content;
}

.productos {
  width: auto;
  height: 100rem;
  display: flex;
  justify-content: center;
}

.productos-list {
    width: 90%;
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0.5rem;
  }

  #toggle-menu {
    display: none;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.6rem;
}

.pagination a {
    color: var(--negro);
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    margin: 0 0.4rem;
    box-shadow: 0rem 0.1rem 0rem var(--negro);
    border: 1px solid var(--negro);
    border-radius: 0.4rem;
    background-color: var(--blanco);
}

.pagination .current {
    background-color: var(--azul_3);
    color: var(--blanco);
    padding: 0.8rem 1.2rem;
    margin: 0 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0rem 0.1rem 0rem var(--negro);
    border: 1px solid var(--negro);
}

  
  @media (max-width: 768px) {

    #menu {
      position: fixed;
      width: 50%;
      top: 7rem;
      left: -100%;
      height: 100%;
      transition: left 0.3s ease;
      z-index: 200;
      overflow-y: scroll;
      padding-bottom: 5rem;
    }
    
    #menu.visible {
      left: 0;
    }

    #toggle-menu {
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      display: block;
      position: fixed;
      top: 8rem;
      z-index: 201;
      font-weight: bold;
      background-color: var(--azul_2);
      border-radius: 0;
      color: var(--blanco);
    }

    #filter {
      margin-top: 3.5rem;
    }

    .productos-list {
      width: 95%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    #seccion-productos {
      height: 100%;
    }
    
    .productos {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;
    }
    
  }
  