:root {
  --azul_1: #0090E8;
  --azul_2: #69A7EE;
  --azul_3: #B0CCF6;
  --azul_4: #ECF2FD;
  --negro: #2F2F2F;
  --blanco: #FFFFFF;
}

body {
  background-color: var(--blanco);
  font-size: 62.5%; /* 1rem = 10px */
}

#page {
  padding-top: 7.4rem;
}

.popular-products,
.new-products {
  margin-bottom: 5rem;
  margin-top: 5rem;
  background-color: transparent;
}

.popular-products h2, .new-products h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 1));
  color: #2b2b2b;
}

.popular-products h2 i, .new-products h2 i {
  margin-right: 1rem;
  color: #ea645e;
}

.productos-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Mostrar 5 productos en escritorio */
  grid-gap: 0.5rem;
  justify-items: center;
}

#secciones {
  width: 100%;
  height: auto;
  background-color: red;
}

#seccion_3d {
  padding: 5rem 2rem 5rem 5rem;
  height: 40rem;
  background-color: #0090E8;
}

#seccion_3d div {
  height: 30rem;
  width: 30rem;
  background: url(img/3d.jpg);
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion_sticker {
  padding: 5rem 5rem 5rem 2rem;
  height: 40rem;
  background-color: #ea645e;
}

#seccion_sticker div {
  height: 100%;
  width: 100%;
  background-image: url(img/stickers.jpg);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion_contacto {
  padding: 2rem 5rem 5rem 5rem;
  background-color: antiquewhite;
}

#seccion_contacto div {
  height: 80%;
  width: 100%;
  background-image: url(img/idea.jpg);
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seccion_contacto div p, #seccion_sticker div p, #seccion_3d div p   {
  font-size: 4rem;
  font-weight: bold;
  color: var(--negro);
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 3; }


@media screen and (max-width: 768px) {
  .productos-list {
    grid-template-columns: repeat(2, 1fr); /* Mostrar 1 producto en celular */
  }

  .popular-products h2, .new-products h2 {
    font-size: 2rem;
    width: 100%;
  }
}