:root {
  --azul_1: #0090E8;
  --azul_2: #69A7EE;
  --azul_3: #B0CCF6;
  --azul_4: #ECF2FD;
  --negro1: #000000;
  --negro: #2F2F2F;
  --negro2: #292929;
  --blanco: #FFFFFF;
}

footer {
  background-color: var(--negro);
  color: var(--blanco);
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#conteiner_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nosotros {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nos_detalles {
  margin: 0.5rem;
  font-size: 1.3rem;
}

.nosotros p i {
  color: var(--blanco);
}

.medio {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medio div {
  margin: 1rem;
  height: 16rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ajuste_img4 {
  height: 80%;
}

.redes {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.titulo {
  color: var(--blanco);
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1rem;
  text-decoration: underline;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-top: 1rem;
}

#icons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

#icons button i {
  font-size: 3rem;
}

#icons button i:hover {
  color: var(--azul_2);
}

#copy {
  display: flex;
  justify-content: center;
  width: 100%;
  height: content;
  color: var(--azul_2);
}

#copy p {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {

  footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nosotros {
    width: 50%;
  }

  .categorias {
    width: 50%;
  }

  .medio {
    display: none;
  }

  .titulo {
    font-size: 1.2rem;
  }

  .nos_detalles {
    font-size: 1.1rem;
  }

  .categorias li a {
    font-size: 1.1rem;
  }

  #icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-top: 1rem;
    margin-right: 2rem;
  }
  
  #icons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }

  #icons button i {
    font-size: 1.5rem;
  }

  #copy p {
    font-size: 0.8rem;
  }

}